@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
      :root  {
  --background: 213.1 100% 95%;
  --foreground: 213.1 5% 9%;
  --card: 213.1 50% 90%;
  --card-foreground: 213.1 5% 10%;
  --popover: 213.1 100% 95%;
  --popover-foreground: 213.1 100% 9%;
  --primary: 213.1 93.9% 67.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 213.1 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 175.1 30% 85%;
  --muted-foreground: 213.1 5% 35%;
  --accent: 175.1 30% 80%;
  --accent-foreground: 213.1 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 213.1 5% 90%;
  --border: 213.1 30% 50%;
  --input: 213.1 30% 18%;
  --ring: 213.1 93.9% 67.8%;
  --radius: 0.3rem;
}

.dark  {
  --background: 213.1 50% 9%;
  --foreground: 213.1 5% 90%;
  --card: 213.1 50% 9%;
  --card-foreground: 213.1 5% 90%;
  --popover: 213.1 50% 5%;
  --popover-foreground: 213.1 5% 90%;
  --primary: 213.1 93.9% 67.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 213.1 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 175.1 30% 15%;
  --muted-foreground: 213.1 5% 60%;
  --accent: 175.1 30% 15%;
  --accent-foreground: 213.1 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 213.1 5% 90%;
  --border: 213.1 30% 18%;
  --input: 213.1 30% 18%;
  --ring: 213.1 93.9% 67.8%;
  --radius: 0.3rem;
}
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
