@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  :root {
    --background: 0 0% 98%;
    --foreground: 218 5% 10%;
    --card: 218 50% 100%;
    --card-foreground: 218 5% 15%;
    --popover: 218 100% 100%;
    --popover-foreground: 218 100% 10%;
    --primary: 218 76% 54.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 180 30% 95%;
    --muted-foreground: 218 5% 40%;
    --accent: 180 30% 90%;
    --accent-foreground: 218 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 218 5% 100%;
    --border: 218 30% 82%;
    --input: 0 0% 93%;
    --ring: 218 76% 54.3%;
    --radius: .375rem;
  }

  .dark {
    --background: 218 50% 10%;
    --foreground: 218 5% 100%;
    --card: 218 50% 10%;
    --card-foreground: 218 5% 100%;
    --popover: 218 50% 5%;
    --popover-foreground: 218 5% 100%;
    --primary: 218 76% 54.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 30% 25%;
    --muted-foreground: 218 5% 65%;
    --accent: 180 30% 25%;
    --accent-foreground: 218 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 218 5% 100%;
    --border: 218 30% 50%;
    --input: 218 30% 50%;
    --ring: 218 76% 54.3%;
    --radius: .375rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-secondary text-foreground;
  }
}

.animate-spin{
  animation-duration: 1.5s;
}
